.bb-status {
    @include bb-caption2();
    padding: 4px 6px;
    display: inline-block;
    position: relative;
    color: $basicGrey30;
    background-color: $basicGrey5;
    border: 0;
    outline: 0;
    border-radius: 3px;
    text-decoration: none;

    @each $name, $value in $bigbomColors {
        &--#{$name} {
            color: $value !important;
        }
    }

    &--sm {
        @include bb-caption2();
        padding: 0.1rem 0.15rem;
    }

    &--lg {
        @include bb-title4();
        padding: 0.5rem 0.8rem;
    }
}
