/* *
*   POSITION and DISPLAY utilities */
.d-block {
    display: block !important;
}
.d-inline {
    display: inline !important;
}
.d-inline-block {
    display: inline-block !important;
}
.d-none {
    display: none !important;
}
.d-flex {
    display: flex !important;
}
.position-relative {
    position: relative !important;
}
.position-absolute {
    position: absolute !important;
}
.position-fixed {
    position: fixed !important;
}
.position-sticky {
    position: sticky !important;
}
/* *
*   FLEX utilities */
.justify-content-center {
    justify-content: center !important;
}
.justify-space-around {
    justify-content: space-around !important;
}
.justify-space-between {
    justify-content: space-between !important;
}
.align-items-center {
    align-items: center !important;
}
.align-items-flex-start {
    align-items: flex-start !important;
}
.align-items-flex-end {
    align-items: flex-end !important;
}
.align-items-stretch {
    align-items: stretch !important;
}
.align-items-baseline {
    align-items: baseline !important;
}
.flex-row-wrap {
    flex-flow: row wrap !important;
}
.flex-row-nowrap {
    flex-flow: row nowrap !important;
}
.flex-column-wrap {
    flex-flow: column wrap !important;
}
.flex-column-nowrap {
    flex-flow: column nowrap !important;
}
.flex-auto {
    flex: 1 1 auto !important;
}
.flex-init {
    flex: 1 1 !important;
}
.flex-none {
    flex: none;
}
@for $i from 0 through 12 {
    .order-#{$i} {
        order: $i !important;
    }
}
/* *
* CURSOR*/
.cursor-default {
    cursor: default !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.cursor-not-allowed {
    cursor: not-allowed !important;
}
.cursor-move {
    cursor: move !important;
}

/* *
*   Another */
.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.full-width {
    width: 100%;
}
.full-max-width {
    max-width: 100%;
}
